aiosignal==1.3.2+computecanada
arm_pytorch_utilities==0.4.3
attrs==25.3.0+computecanada
box2d-py==2.3.5
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1+computecanada
cloudpickle==3.1.1+computecanada
cma==4.2.0
colorednoise==2.2.0
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
evotorch==0.6.1
Farama_Notifications==0.0.4+computecanada
filelock==3.18.0+computecanada
fonttools==4.58.4
frozenlist==1.7.0+computecanada
fsspec==2025.5.1+computecanada
gymnasium==1.1.0
idna==3.10+computecanada
imageio==2.37.0+computecanada
imageio-ffmpeg==0.4.2+computecanada
jinja2==3.1.6+computecanada
jsonschema==4.24.0+computecanada
jsonschema_specifications==2025.4.1+computecanada
kiwisolver==1.4.8+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.10.0+computecanada
moviepy==2.2.1
mpmath==1.3.0+computecanada
msgpack==1.1.0+computecanada
networkx==3.5+computecanada
numpy==2.2.2+computecanada
packaging==25.0+computecanada
pandas==2.2.3+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
proglog==0.1.12
protobuf==6.31.1
pygame==2.5.2+computecanada
pyparsing==3.2.3
python_dateutil==2.9.0.post0+computecanada
python_dotenv==1.1.0+computecanada
pytorch-icem==0.1.0
pytorch-seed==0.2.0
pytorch_mppi==0.8.0
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
ray==2.43.0+computecanada
referencing==0.36.2+computecanada
requests==2.32.4+computecanada
rpds_py==0.21.0+computecanada
sb3_contrib==2.6.0
seaborn==0.13.2+computecanada
six==1.17.0+computecanada
stable_baselines3==2.6.0
swig==4.3.1
sympy==1.14.0+computecanada
torch==2.7.1+computecanada
torchaudio==2.7.1+computecanada
torchvision==0.22.1+computecanada
tqdm==4.67.1+computecanada
typing_extensions==4.14.0+computecanada
tzdata==2025.2+computecanada
urllib3==2.4.0+computecanada
